<div class="sec-1-heading d-block">
  <h2 class="mb-0">{{ main.sec-1-heading }}</h2>
  <p class="mt-2 mt-md-3">{{ main.sec-1-subhead }} </p>
</div>

<a href="https://www.cmegroup.com/markets.html" target="_blank" class="mkt-banner-link w-100 d-inline-block mt-4">
  <div class="mkt-banner">
    <img src="./assets/img/content/Markets_1280x226.jpg" class="mkt-banner-image"
      alt="The upper floors of a high-rise building that shows a small portion of the roof balcony in the sunlight">
    <div class="container mkt-banner-content h-100 p-4">
      <div class="text-white">
        <h3 class="eyebrow mb-0">Markets</h3>
        <p class="mkt-banner-desc mt-3">{{ main.mkt-copy }}</p>
      </div>
    </div>
    <div class="cta d-flex align-items-center justify-content-center"><span
        class="d-inline-block ex-copy">{{ main.explore-cta }}</span><img
        src="./assets/img/svg-sprite/intermediate-svg/arrow-right-16.svg" class="d-inline-block ex-icon"
        alt="Your Image">
    </div>
  </div>
</a>

<div class="row mkt-services mt-4">
  <div class="col-lg-6">
    <a href="https://www.cmegroup.com/market-data.html" target="_blank" class="mkt-banner-link">
      <div class="mkt-services-cont">

        <div class="mkt-services-content h-100 p-4">
          <h3 class="eyebrow mb-0">Data</h3>
          <p class="small mt-3 mb-0">{{{ main.data-copy }}}</p>
          <div class="cta cta-small d-flex align-items-center justify-content-center"><span><img
                src="./assets/img/svg-sprite/intermediate-svg/arrow-right-16.svg" class="d-inline-block"
                alt="Your Image"></span></div>
        </div>

      </div>
    </a>
  </div>
  <div class="col-lg-6 mt-4 mt-lg-0">
    <a href="https://www.cmegroup.com/services.html" target="_blank" class="mkt-banner-link">
      <div class="mkt-services-cont">
        <div class="mkt-services-content h-100 p-4">
          <h3 class="eyebrow mb-0">Services</h3>
          <p class="small mt-3 mb-0">{{ main.services-copy }}</p>
          <div class="cta cta-small d-flex align-items-center justify-content-center"><span><img
                src="./assets/img/svg-sprite/intermediate-svg/arrow-right-16.svg" class="d-inline-block"
                alt="Your Image"></span></div>
        </div>
      </div>
    </a>
  </div>
</div>